<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hawkeye.asset.business.mapper.AssetMapper">
    <select id="pageQuery" resultType="com.hawkeye.asset.common.pojo.entity.Asset">
        select asset_id, name, request_host, risk_level, status
        from asset
        <where>
            deleted = 0
            <if test="param.name != null">and name like concat('%',#{param.name},'%')</if>
            <if test="param.requestHost != null">and request_host like concat('%',#{param.requestHost},'%')</if>
            <if test="param.riskLevel != null">and risk_level = #{param.riskLevel}</if>
            <if test="param.status != null">and status = #{param.status}</if>
            <if test="param.categoryId != null">and category_id = #{param.categoryId}</if>
        </where>
        order by name desc
    </select>
</mapper>